.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.json
.eslintrc.js
package-lock.json
src/assets/lib/bootstrap/js/bootstrap.bundle.min.js
src/assets/lib/bootstrap/js/bootstrap.min.js
src/assets/lib/jquery/jquery-migrate.min.js
src/assets/lib/jquery/jquery.min.js
package-lock.json

*.bat