.required-mark:before {
  display: inline-block;
  color: #f5222d;
  margin-right: 4px;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.ant-label-error {
  display: block;
  transform: translateY(-4px);
  min-height: 22px;
  margin-left: 1px;
  color: #f5222d;
  margin-top: 2px;

  &__large{
     margin-top: 4px;
  }
}



@-webkit-keyframes vshake {

  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  10%,
  0%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes vshake {

  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

.vshake {
  -webkit-animation-name: vshake;
  animation-name: vshake;
}
